:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";

    /* colors */
    --text-logo-common: #2196F3;
    --text-logo-studio-header: #000000;
    --text-logo-studio-footer: #FFFFFF;
    --text-nav-link: #212121;
    --text-nav-link-address: #757575;
    --text-footer-link-address: rgba(255, 255, 255, 0.6);
    --text-nav-address: #FFFFFF;
    --text-link-active: #2196F3;
    --text-header-main: #212121;
    --text-header-secondary: #FFFFFF;
    --text-main: #757575;
    --text-secondary: #FFFFFF;
    --text-btn-v1: #FFFFFF;
    --text-btn-v2: #212121;
    --text-btn-v2-active: #FFFFFF;
    
    /*background-colors  */
    --bg-main: #FFFFFF;
    --bg-secondary: #2F303A;
    --bg-team-section: #F5F4FA;
    --bg-btn-v1: #2196F3;
    --bg-btn-v1-active: #188CE8;
    --bg-btn-v2: #F5F4FA;
    --bg-btn-v2-active: #2196F3;

    /* other collors */
    --header-bottom-border-clr: #ECECEC;
    --product-card-border-clr: #ECECEC;
}

body {
    background-color: var(--bg-main);

    font-family: var(--main-font), "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-main);
}

h1, h2, h3, h4, h5, h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* common styles start */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1200px;
    margin: auto;
    padding: 0 15px;    
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.link:focus,
.link:hover,
.link.current {
    color: var(--text-link-active);
}

.list {
    list-style: none;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-family: inherit;
}

/* common styles end */


/* header styles start */

.header {
    border-bottom: 1px solid var(--header-bottom-border-clr);
}

.header > .container {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: 93px;
}

.header-nav-list {
    display: flex;
    column-gap: 50px;
}

.header-logo-link,
.footer-logo-link
{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-logo-common)
}

.header-logo-studio {
    color: var(--text-logo-studio-header);
}

.header-nav-link {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-nav-link);
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}

.header-contacts-link {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-nav-link-address);
}

/* header styles end */


/* footer styles start */

.footer {
    padding: 60px 0;
    background-color: var(--bg-secondary);
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-logo-studio {
    color: var(--text-logo-studio-footer);
}

.footer-contacts-link {
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--text-footer-link-address);
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts-item.contact-address {
    color: var(--text-nav-address);
    font-style: normal;
}

/* footer styles end */


/* welcome section styles start */
.welcome {
    padding: 200px 0;
    background-color: var(--bg-secondary);
}

.welcome-header {
    margin: auto auto 30px auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    color: var(--text-header-secondary);
}

.welcome-service-button {
    display: block;
    margin: auto;
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-btn-v1);

    background-color: var(--bg-btn-v1);
}

.welcome-service-button:hover {
    background-color: var(--bg-btn-v1-active);
}

/* welcome section styles end */


/* features section styles start */
.features-list {
    display: flex;
    column-gap: 30px;
}

.feature-card {
    width: 270px;
}

.feature-card-header {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-header-main);
}

.feature-card-text {
    letter-spacing: 0.03em;
}

/* features section styles end */

/* work section styles start */

.work {
    padding-top: 0;
}

.work-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-header-main);   
}

.work-items {
    display: flex;
    column-gap: 30px;
}

/* work section styles end */

/* team section styles start */
.team {
    background-color: var(--bg-team-section);
}

.team-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-header-main);   
}

.team-list {
    display: flex;
    column-gap: 30px;
}

.team-card {
    width: 270px;
    background-color: var(--bg-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-image-container {
    margin: 0;
}

.team-card-image {
    display: block;
}

.team-card-note {
    padding: 30px 0;
}

.team-card-header {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-header-main);
}

.team-card-text {
    font-size: 16px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team section styles end */

/* products section styles start */
.products > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-filter-list {
    display: flex;
    margin-bottom: 50px;
    column-gap: 8px;
}

.product-filter-button {
    padding: 6px 22px;
    background-color: var(--bg-btn-v2);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-btn-v2);
}

.product-filter-button:focus,
.product-filter-button:hover,
.product-filter-button.current {
    background-color: var(--bg-btn-v2-active);
    color: var(--text-btn-v2-active);
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-card {
    width: 370px;
}

.product-image-container {
    margin: 0;
}

.product-image {
    display: block;
}

.product-note {
    padding: 20px 24px;
    border-bottom: 1px solid var(--product-card-border-clr);
    border-left: 1px solid var(--product-card-border-clr);
    border-right: 1px solid var(--product-card-border-clr);
}

.product-note-header {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-header-main);
}

.product-note-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* products section styles end */